# Generated project files from CLion
/.idea/*
!/.idea/runConfigurations/
!/.idea/tools/
!/.idea/customTargets.xml
!/.idea/cmake.xml
/cmake-build-*/
/CMakeLists.txt
/CMakeLists_template.txt

# Generated project files from STM32CubeMX
/.mxproject
/.cproject
/.project
/MDK-ARM/

# Python virtual environment
/Tools/.venv/
